.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  color: #000000;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
}

.nav__links {
  margin-top: 30px;
  margin-right: 80px;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  font-weight: 500;
  list-style-type: none;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
}

.header__title {
  display: block;
  max-width: 709px;
  margin-left: 80px;
  margin-top: 183px;
  font-family: "Inter";
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -1px;
  z-index: 2;
}
.span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.span-accent-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  margin-top: 124px;
  margin-right: 5px;
  align-self: flex-end;
}

.header__footer {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: auto;
  justify-content: space-between;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  flex-direction: column;
  line-height: 2px;
}

.endereço {
  align-self: flex-end;
  align-items: self-end;
  margin-right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #838383;
}

.content {
  display: flex;
  flex-direction: column;
}

.recipes {
  color: white;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 215px;
}

.recipes__title {
  margin: 100px 0 0 80px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
}

.recipes__video-item {
  align-self: center;
  text-align: center;
}

.recipes__inframes {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
